div.scriptsContainer {
	overflow-y: scroll;
	height: 40vh;
	min-height: 300px;
	margin: 0px 30px;
	min-width: 500px;
	border: 2px inset rgb(118, 118, 118);
	box-shadow: inset 0 0 10px rgb(150, 150, 150);
	padding: 15px;
	border-radius: 10px;
	background-color: rgb(250, 250, 250);
}

div.scriptsContainer div.scriptHolder {
	text-align: left;
	border: 2px dotted rgb(220, 220, 220);
	height: 50px;
	font-size: 16px;
	display: flex;
	align-items: center;
	background-image: radial-gradient(rgb(220, 220, 220), rgb(240, 240, 240));
}

div.scriptsContainer div.scriptHolder div.positioners {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	display: inline-flex;
}

div.scriptsContainer
div.scriptHolder
div.positioners
span.ilb {
	display: inline-block;
}

div.scriptsContainer
div.scriptHolder
div.positioners
span.btn-container {
	margin: 3px 5px;
}

div.scriptsContainer
div.scriptHolder
div.positioners
span.ilb.btn-container
button,
div.scriptsContainer
div.scriptHolder
div.actionButtonsContainer
button {
	position: relative;
	background: radial-gradient(circle, rgb(250, 250, 250), rgb(240, 240, 240));
	border: 1px solid grey;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.scriptsContainer
div.scriptHolder
div.positioners
span.ilb.btn-container
button:not(:disabled):active,
div.scriptsContainer
div.scriptHolder
div.actionButtonsContainer
button:not(:disabled):active {
	background: radial-gradient(circle, rgb(250, 250, 250), rgb(240, 240, 240));
	top: 1px;
	left: 1px;
}

div.scriptsContainer
div.scriptHolder
div.positioners
span.ilb.btn-container
button:disabled,
div.scriptsContainer
div.scriptHolder
div.actionButtonsContainer
button:disabled {
	background: radial-gradient(circle, rgb(220, 220, 220), rgb(210, 210, 210));
	color: rgb(180, 180, 180);
}

div.scriptsContainer
div.scriptHolder
div.positioners
span.ilb.btn-container
button
img {
	width: 20px;
	height: 20px;
}

div.literalContainer {
	display: inline-flex;
	width: 75%;
}

div.literalContainer p {
	margin: 0px;
	padding: 5px;
	overflow-x: scroll;
}

input.translucentInput {
	background: none;
	border: none;
	padding: 5px;
}

div.actionButtonsContainer {
	display: inline-flex;
}